.container{
    display: flex;
    flex-wrap: wrap;
}

#banner{
    justify-content: center;
    text-align: center;
    margin: 10px;
    padding: 10px
}

#nav{
  width: 100%;
  background-color: black;
  overflow:auto;
}

#nav a{
  float:left;
  padding: 10px;
  color: white;
  text-decoration: none;
  width:23%;
  text-align: center;
}

.container div{
    flex:1;
}

#nav a:hover{
    font-size: 30px;
    background-color: rgba(50, 55, 65, 0.87);
}

#main{
    justify-content: center;
    background-color: black;
    color: white;
    align-items: center;
    flex:1;
    margin: 10px;
    padding: 10px;
}

#photomain{
    flex:2;
    justify-content: center;
    background-image: url();
}