.container{
    display: flex;
}

#banner{
    justify-content: center;
    text-align: center;
}

#sidebar{
    flex-direction: column;
    justify-content: left;
    display: block;
    max-width: 100px;
    flex:1;
    background-color: black;
    padding: 150px;
}

#sidebar a{
    font-size: 25px;
    text-decoration: none;
    color: white;
}