.container{
    display: flex;
    flex-wrap: wrap;
}

#banner{
    justify-content: center;
    text-align: center;
}

#navigation{
   background-color: black;
   flex:3;
   justify-content: center;
   padding: 10px;
   gap: 50px;
}

#navigation a{
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.container div{
    flex:1;
}

nav:hover{
    font-size: 30px;
}

#main{
    justify-content: center;
    align-items: center;
    flex:1;
    background-image: url();
}