.container{
    display: flex;
    flex-wrap: wrap;
}

#banner{
    justify-content: center;
    text-align: center;
    margin: 10px;
    padding: 10px
}

#nav{
  width: 100%;
  background-color: black;
  overflow:auto;
}

#nav a{
  float:left;
  padding: 10px;
  color: white;
  text-decoration: none;
  width:23%;
  text-align: center;
}

.container div{
    flex:1;
}

#nav a:hover{
    font-size: 25px;
    background-color: rgba(50, 55, 65, 0.87);
}

#main{
    justify-content: center;
    color: white;
    align-items: center;
    flex:1;
    margin: 10px;
    padding: 10px;
}

#photomain{
    padding: 10px;
    flex:2;
    justify-content: center;
    background-image: url(home1.jpeg);
    width: 200%;
    height: 400px;
    text-align: center;
    background-size: 1500px 800px;
    margin-top: 20px;
}

#photomain h1{
    background-color: transparent;
}

*{
    background-color: rgba(33, 46, 70, 0.74);
    color: white;
}

div p{
    max-width: 750px;
    font-size: 28px;
    padding: 20px;
}

#histimg1{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 480px;
    height: 400px;
    padding-left: 100px;
}

#histimg2{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

#head{
    flex:5;
    padding-right: 300px;
}

#footer{
    background-color: black;
    color: white;

}

#flaghome{
    width: 100px;
    height: auto;
    padding-top: 7px;
}

p:hover{
    font-size: 32px;
}

#histimg1:hover{
    width: 540px;
    height:auto;
}

#histimg2:hover{
    width: 673px;
    height:auto;
}
